.hero-unit
  %h1 mHealth Example Loader
  %p
    Use this application to load example data into your mHealth account.
  %p
    =link_to 'Connect with mHealth', '/auth/mhealth', class: 'btn btn-primary'
