.hero-unit
  %h1 mHealth Example Loader
  %p
    Use this application to load example data into your mHealth account.
  %p
    =link_to 'Get Started', new_authorization_path, class: 'btn btn-primary'
